@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <link href="~/Content/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" />
    <link href="~/Content/jasny-bootstrap/css/jasny-bootstrap.css" media="screen" rel="stylesheet" />
    <title>Atenção!</title>
</head>
<body>
    <hgroup>
        <h4 class="text-error">Atenção!</h4>
        <h5 class="text-error">Página em Construção.</h5>
    </hgroup>
</body>
</html>