<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" />
    <link href="~/Content/Dani-bootstrap/css/Dani-bootstrap.css" media="screen" rel="stylesheet" />
</head>
<body>
    <div id="footerSection">
        <div class="well container">
            <div class="row">
                <div class="span3">
                    <h5>Importante</h5>
                    <h6><a style="color: #9370db" href="login.html">Política de Vendas</a></h6>
                    <h6><a style="color: #9370db" href="login.html">Segurança e Privacidade</a></h6>
                    <h6><a style="color: #9370db" href="login.html">Código do consumidor</a></h6>
                </div>
                <div class="span3">
                    <h5>Compras</h5>
                    <h6><a style="color: #9370db" href="login.html">Prazos de entrega</a></h6>
                    <h6><a style="color: #9370db" href="login.html">Trocas e Devoluções</a></h6>
                    <h6><a style="color: #9370db" href="login.html">Tabela de medidas</a></h6>
                </div>
                <div class="span5">
                    <h5>Formas de Pagamento</h5>
                    <a href="login.html">
                        <img src="~/Content/Dani-bootstrap/img/PagSeguro.png" /></a>&nbsp;&nbsp;&nbsp;
                        <a href="login.html">
                            <img src="~/Content/Dani-bootstrap/img/Paypal.ico" /></a>&nbsp;&nbsp;&nbsp;
                        <a href="login.html">
                            <img src="~/Content/Dani-bootstrap/img/Boleto.ico" /></a>&nbsp;&nbsp;&nbsp;
                        <a href="login.html">
                            <img src="~/Content/Dani-bootstrap/img/Santander.gif" /></a>
                </div>
            </div>
            <p class="pull-right">© Daniele C. Rocha</p>
        </div>
    </div>
</body>
</html>
