<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <Produtos>
    <Numero_de_produtos_por_pagina>5</Numero_de_produtos_por_pagina>
  </Produtos>
  <ProdutosEmDestaque>
    <Pasta_de_produtos_em_destaque>C:\Users\uqk2\Documents\Meus Documentos\GitHub\LojaVirtual\Imagens\Destaques</Pasta_de_produtos_em_destaque>
  </ProdutosEmDestaque>
  <Propagandas>
    <Pasta_de_propagandas>C:\Users\uqk2\Documents\Meus Documentos\GitHub\LojaVirtual\Imagens\Propagandas</Pasta_de_propagandas>
  </Propagandas>
  <Precos>
    <Numero_de_parcelas>6</Numero_de_parcelas>
  </Precos>
  <Categorias>
    <Numero_de_categorias_por_pagina>5</Numero_de_categorias_por_pagina>
  </Categorias>
</configuration>
