<?xml version="1.0"?>
<configuration>

<system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <Produtos>
    <Numero_de_produtos_por_pagina>5</Numero_de_produtos_por_pagina>
  </Produtos>
  <Categorias>
    <Numero_de_categorias_por_pagina>5</Numero_de_categorias_por_pagina>
  </Categorias>
</configuration>
