@{
    ViewBag.Title = "BarraMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Sistema de Controle de Mercadorias</title>
</head>
    <body>
        @LojaVirtual.Apresentacao.Helpers.BarraMenu.Administrador("Administração")
    </body>
</html>